body {
	font-family: sans-serif, Helvetica;
}

/*container mainly for positioning controls*/
#container {
    position: absolute;
    width: 100vw;
    left: 10vw;
    top: 5vh;
}

#map {
    position: absolute;
    width: 80vw;
    height: 70vh;
    border: 1px solid grey;
}

#controls {
    top: 35vw;
    right: 21vw;
    position: absolute;
    text-align: right;
}

#location {
    position: absolute;
    top: 72vh;
}