body {
	font-family: sans-serif, Helvetica;
}

table {
	width: 80vw;
}

/*container mainly for positioning controls*/
#container {
    position: absolute;
    width: 100vw;
    left: 10vw;
    top: 5vh;
}

#map {
    position: absolute;
    width: 80vw;
    height: 70vh;
    border: 1px solid grey;
}

#location {
    position: absolute;
    top: 72vh;
}

#details {
	padding-top: 5vw;
}

.right {
	text-align: right;
}